





/* ====== Header section ====== */
.navbar{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);border:none;}
.navbar-header .navbar-brand{font-size: 24px;}
.navbar-form{width:25%;}
.navbar-form .form-group{width:100%;position:relative;}
.navbar-form .form-group i.fa-search{ position: absolute; right: 12px; top: 10px;}
.navbar-form .form-control{width:100%;}
/* ====== jumbotron section ====== */
.jumbotron{position:fixed;width:100%;height:100%;}
.jumbotron .col-md-7{height: 100%;position:fixed;left:0;}
.jumbotron .col-md-5{background: #FFF;height: 100%;box-shadow: -2px -1px 4px rgba(0, 0, 0, 0.2);position:fixed;right:0;}
.jumbotron .col-md-5 .list-group-item{border-left: none;border-radius: none;}
.jumbotron .col-md-5 h3{padding-left: 17px;}
/* ====== Map section ====== */
.angular-google-map-container {height: 1000px;}
.angular-google-map-container .gm-style-iw p{font-size: 12px;font-weight: bold;}


/* ====== list stop section ====== */
.list-stop{display: block; list-style: none; padding: 4px 0; position: relative;font-size: 16px;font-weight: bold; }
.scroll {height: 591px; overflow-x: hidden; overflow-y: scroll; }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
