<header class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">Stop <span class="label label-danger">Bus</span></a>
  </div><!--/.navbar-header-->
  <div class="collapse navbar-collapse">
    <div class="input-grupo navbar-form navbar-left">
      <div class="form-group">
        <i class="fa fa-search"></i>
       <input class="form-control" type="text" placeholder="Search bus stop name" ng-model="search.name">
      </div><!--/.form-group-->
    </div><!--/.navbar-form-->
  </div><!--/.navbar-collapse-->
</header><!--/.header-->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-7">
      <google-map center="map.center" draggable="true" zoom="map.zoom">
        <marker ng-repeat="marker in markers" coords="{latitude: marker.lat, longitude: marker.lng}" click="onMarkerClicked(marker)">
          <window show="marker.showWindow">
            <p class="content">{{marker.name | uppercase }}</p>
          </window>
        </marker>
      </google-map><!--/.google-map-->
    </div><!--/.col-md-7-->
      <div class="col-md-5">
        <div class="row">
          <h3>Name Stop Line:</h3>
          <div class="scroll">
            <ul class="list-group" ng-repeat="marker in markers | filter:search">
              <li id="{{marker.id}}" class="list-group-item">
                <div class="item-bus">
                  <ul class="list-group">
                    <li class="list-stop">
                      <i class="fa fa-automobile"></i>
                      Name Stop: <span class="badge">{{marker.name | uppercase}}</span>
                    </li>
                    <li class="list-stop">
                      <i class="fa fa-road"></i>
                      Towards: <span class="badge">{{marker.towards}}</span>
                    </li>
                    <li class="list-stop">
                      <i class="fa fa-mobile-phone"></i>
                      sms code: <span class="badge">{{marker.smsCode}}</span>
                    </li>
                    <li class="list-stop">
                      <i class="fa fa-angle-double-right"></i>
                      Direction: <span class="badge">{{marker.direction}}</span>
                    </li>
                    <li class="list-stop">
                      <i class="fa fa-stop"></i>
                      Stop Indicator: <span class="badge">{{marker.stopIndicator}}</span>
                    </li>
                  </ul><!--/.list-group-->
                </div><!--/.item-bus-->
              </li><!--/.list-group-item-->
            </ul><!--/.list-group-->
          </div><!--/.scroll-->
        </div><!--/.row-->
      </div><!--/.col-md-5-->
  </div><!--/.row-->
</div><!--/.jumbotron-->
